{{>header}}

{{^authenticated}}
<h1>Hi! Sign up today!</h1>
{{/authenticated}}
{{#authenticated}}
<h1>Hi!</h1>
<p>Your ID is: <code>{{accountID}}</code></p>
{{/authenticated}}

<p>Check out the following resources about Turnstile:</p>

<ul>
<li><a href="https://github.com/PerfectlySoft/Perfect">Perfect on GitHub</a></li>
<li><a href="https://github.com/PerfectlySoft/Perfect-Turnstile-SQLite">Perfect Turnstile SQLite Auth on GitHub</a></li>
<li><a href="https://github.com/PerfectExamples/Perfect-Turnstile-SQLite-Demo">Perfect Turnstile SQLite Demo on GitHub</a></li>
<li><a href="https://github.com/stormpath/Turnstile">Turnstile on GitHub</a></li>
</ul>

{{>footer}}
